body {
  background: #ffffff;
  font-size: 10px;
  min-width: 96em;
}

.wraper {
  width: 96em;
  margin: 0 auto;
  /*	&:after {
  		content: "";
  		display: table;
  		clear: both;
  	}*/
}

header {
  background: #ffffff;
}
header nav {
  padding: 4.5em 0;
  border-bottom: solid 0.3em #dedede;
}
header nav ul {
  list-style: none;
}
header nav ul:after {
  content: "";
  display: table;
  clear: both;
}
header nav ul li {
  float: left;
  width: 20%;
  box-sizing: border-box;
  background: -webkit-linear-gradient(top, #f80847 20%, transparent 20%) repeat-y;
  background-size: 1px 6px;
}
header nav ul li:last-child {
  background-position: left,right;
  background-image: -webkit-linear-gradient(top, #f80847 20%, transparent 20%), -webkit-linear-gradient(top, #f80847 20%, transparent 20%);
}
header nav ul li a.active, header nav ul li a:hover {
  color: #f80847;
}
header nav ul li a {
  font-weight: bold;
  font-size: 1.6em;
  color: #161616;
  display: block;
  padding: 1.25em 0 0 1.375em;
  text-decoration: none;
  line-height: 1.5em;
}
header .cover {
  overflow: hidden;
  margin-top: -2em;
  width: 100%;
  height: 77em;
  background: url("/img/cover-bg.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
header .cover .top {
  position: absolute;
  background: url("/img/cover-top.png") center center no-repeat;
  width: 231px;
  height: 56px;
  top: 14em;
  left: 0;
  right: 0;
  margin: 0 auto;
}
header .cover .middle {
  position: absolute;
  background: url("/img/cover-middle.png") center center no-repeat;
  width: 586px;
  height: 119px;
  top: 29em;
  left: 50%;
  margin-left: -266px;
}
header .registration {
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.47);
  position: absolute;
  bottom: 5.5em;
  height: 13em;
  width: 40em;
  left: 50%;
  margin-left: -20em;
}
header .registration h3 {
  font-size: 1.7em;
  line-height: 7.64706em;
  margin: 0;
  padding: 0 1em 0 0;
  text-align: right;
}
header .registration .item {
  width: 16em;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: color .4s linear,background .4s linear;
}
header .registration .item .arrow {
  position: absolute;
  top: 0;
}
header .registration .item .arrow:before, header .registration .item .arrow:after {
  border-right: 2px solid;
  content: '';
  display: block;
  height: 8px;
  margin-top: -6px;
  position: absolute;
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 2em;
  width: 0;
}
header .registration .item .arrow:after {
  margin-top: -1px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
header .registration .item:after {
  transition: border-color .4s linear;
  position: absolute;
  content: '';
  top: 0;
}
header .registration .left {
  left: 0;
  background: white;
  color: #ed1846;
}
header .registration .left .arrow {
  left: 0;
}
header .registration .left .arrow:before, header .registration .left .arrow:after {
  left: 2.8em;
}
header .registration .left:after {
  left: 100%;
  border-top: 13em solid white;
  border-right: 7.5em solid transparent;
}
header .registration .left:hover {
  color: #b3b3b3;
  background: #64081c;
}
header .registration .left:hover:after {
  border-top-color: #64081c;
}
header .registration .right {
  color: white;
  width: 16em;
  right: 0;
  background: #ed1846;
}
header .registration .right:hover {
  color: #64081c;
  background: #b3b3b3;
}
header .registration .right:hover:after {
  border-bottom-color: #b3b3b3;
}
header .registration .right:after {
  right: 100%;
  border-bottom: 13em solid #ed1846;
  border-left: 7.5em solid transparent;
}
header .registration .right .arrow {
  right: 0;
}
header .registration .right .arrow:before, header .registration .right .arrow:after {
  right: 2.8em;
}
header .registration .right h3 {
  padding: 0 0 0 1em;
  text-align: left;
}

/**/
.tri-t-l-1, .tri-t-r-1 {
  position: absolute;
  top: 0;
  height: 0;
  width: 50%;
  box-sizing: border-box;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-top-color: white;
  border-top-width: 7.4em;
}

.tri-t-l-1 {
  left: 0;
  border-right-width: 11.1em;
}

.tri-t-r-1 {
  right: 0;
  border-left-width: 11.1em;
}

.tri-t-l-2, .tri-t-r-2 {
  position: absolute;
  top: 5.9em;
  height: 0;
  width: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-bottom-color: #f80847;
  border-bottom-width: 1.5em;
}

.tri-t-l-2 {
  margin-right: 11.1em;
  right: 50%;
  border-left-width: 40em;
}

.tri-t-r-2 {
  margin-left: 11.1em;
  left: 50%;
  border-right-width: 40em;
}

.tri-t-l-3, .tri-t-r-3 {
  position: absolute;
  top: 2em;
  height: 0;
  width: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-top-color: #f80847;
  border-top-width: 5.4em;
}

.tri-t-l-3 {
  margin-right: 3em;
  right: 50%;
  border-right-width: 8.1em;
}

.tri-t-r-3 {
  margin-left: 3em;
  left: 50%;
  border-left-width: 8.1em;
}

.tri-t-l-4, .tri-t-r-4 {
  position: absolute;
  top: 2em;
  height: 0;
  width: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-top-color: white;
  border-top-width: 3.9em;
}

.tri-t-l-4 {
  margin-right: 3em;
  right: 50%;
  border-right-width: 8.1em;
}

.tri-t-r-4 {
  margin-left: 3em;
  left: 50%;
  border-left-width: 8.1em;
}

.tri-t-l-1:before, .tri-t-r-1:before {
  position: absolute;
  content: '';
  height: 0px;
  bottom: 5.4em;
  border-top: solid #dedede 0.3em;
}

.tri-t-l-1:before {
  left: 0;
  border-right: solid transparent 0.45em;
  right: -8.55em;
}

.tri-t-r-1:before {
  right: 0;
  border-left: solid transparent 0.45em;
  left: -8.55em;
}

.tri-b-l-1, .tri-b-r-1 {
  position: absolute;
  bottom: 0;
  height: 0;
  width: 50%;
  box-sizing: border-box;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-bottom-color: #f0f0f0;
  border-bottom-width: 20em;
}

.tri-b-l-1 {
  left: 0;
  border-right-width: 31em;
}

.tri-b-r-1 {
  right: 0;
  border-left-width: 31em;
}

.tri-b-l-2, .tri-b-r-2 {
  position: absolute;
  bottom: 16em;
  height: 0;
  width: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-top-color: white;
  border-top-width: 4em;
}

.tri-b-l-2 {
  margin-right: 31em;
  right: 50%;
  border-left-width: 30em;
}

.tri-b-r-2 {
  margin-left: 31em;
  left: 50%;
  border-right-width: 30em;
}

.tri-b-l-3, .tri-b-r-3 {
  position: absolute;
  bottom: 2em;
  height: 0;
  width: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-bottom-color: white;
  border-bottom-width: 18em;
}

.tri-b-l-3 {
  margin-right: 3.1em;
  right: 50%;
  border-right-width: 27.9em;
}

.tri-b-r-3 {
  margin-left: 3.1em;
  left: 50%;
  border-left-width: 27.9em;
}

.tri-b-l-4, .tri-b-r-4 {
  position: absolute;
  bottom: 2em;
  height: 0;
  width: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-bottom-color: #f0f0f0;
  border-bottom-width: 14em;
}

.tri-b-l-4 {
  margin-right: 3.1em;
  right: 50%;
  border-right-width: 27.9em;
}

.tri-b-r-4 {
  margin-left: 3.1em;
  left: 50%;
  border-left-width: 27.9em;
}

.features {
  background: #f0f0f0;
  padding: 14em 0 10.5em 0;
}
.features p {
  position: relative;
  font-size: 1.4em;
  padding: 1.42857em;
}
.features p:before {
  right: 100%;
  content: '';
  position: absolute;
  top: 0;
  margin-top: auto;
  bottom: 0;
  margin-bottom: auto;
}
.features .one {
  margin-left: 3em;
}
.features .one:before {
  background: no-repeat url("http://lorempixel.com/31/38/technics/");
  width: 31px;
  height: 38px;
}
.features .two {
  margin-left: 11em;
}
.features .two:before {
  background: no-repeat url("http://lorempixel.com/56/38/technics/");
  width: 56px;
  height: 38px;
}
.features .three {
  margin-left: 17em;
}
.features .three:before {
  background: no-repeat url("http://lorempixel.com/31/38/technics/");
  width: 45px;
  height: 38px;
}
.features .fore {
  margin-left: 22.5em;
}
