@import "compass";
@import "fonts";
@import "helper";
@import "features/*.png"; 
@include all-features-sprites;
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
$red: #f80847;
$white: #ffffff;
$gray: #f0f0f0;
$black: hsl(11, 11%, 11%);
html{
    height: 100%
}
body {
    height: 100%;
	font-family: Roboto, sans-serif; 
	background: $white;
	font-size: 10px;
	min-width: px2em(960px);
	-webkit-font-smoothing: antialiased;
}
.wraper{
	width: px2em(960px); 
	margin: 0 auto;
/*	&:after {
		content: "";
		display: table;
		clear: both;
	}*/
}
header{
	background: $white;
	padding-top: px2em(132px); 
	@import "components/menu";
	@import "components/cover";
	@import "components/registration";
}

.base-section{
	position: relative;
	min-height:50em;
	&:before,&:after{
		content: '';
		position: absolute;
		border-top: solid transparent 20em;
		width: 0;
		height: 0;  
		top: -20em
	}
	&:after{
		left: 50%;  
	}
	&:before{
		right: 50%;  
	}
	h2{
        position:absolute;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
		font-size: px2em(70px);
		font-weight: normal;
		text-align: center;
		width: 6em;
		top:px2em(-130px,70px);
		z-index: 10;
		@extend %bpg_bc;
		&:before,&:after{
			content: '';
			position: absolute;
			width: px2em(100px,70px);
			height: 2px;
			bottom: px2em(10px,70px);
			@include background(linear-gradient(left,$red 40%, transparent 40%));
			background-repeat:repeat-x;
			background-size: 5px 2px; 
		}
		&:after{
			right: 50%;
			margin-right: px2em(200px,70px);
		}
		&:before{
			left: 50%;
			margin-left: px2em(200px,70px);
		}
		sub{
			font-family: Roboto, sans-serif;
			font-size: px2em(18px,70px);
			z-index: 10;
			position: absolute;
			right: 0;
			top: 100%;
			margin: 1em;
			&:before{
				content: '\0023';// #
				color: $red;
				font-weight: bold;
			}
		}
	}
	.comming{
        position:absolute;
        left:0;
        right:0;
		@extend %bpg_bc;
        margin-left:auto;
        margin-right:auto;
		font-size: px2em(30px);
		font-weight: normal;
		width: 10em;
		text-align: center;
		margin-top: 2em;
	}
}
.features{
	background: $gray;
	padding:px2em(140px) 0 0 0;
	@import "components/features";
}
.speakers{
	$section-bg: $white;
	background: $section-bg;
	padding:px2em(140px) 0 px2em(305px) 0;
	&:after{
		border-left: solid $section-bg 45em;
	}
	&:before{
		border-right: solid $section-bg 45em;
	}
	.speakers-list{
		list-style: none;
		padding:0;
		&:after {
			content: "";
			display: table;
			clear: both;
		} 
		.topic{
			position: absolute;
			text-shadow: 0 1px $black;
			color: $white;
			font-size: px2em(15px);
			top: px2em(50px,15px);
			left: px2em(10px,15px);
			right: px2em(10px,15px);
		}
		.inner{
			overflow: hidden;
			margin: 1em;
			padding: 4em 0;
			position: relative;
			background: $red;
			$radous:2em;
			height: 22em + 7em;
			cursor: pointer;
			&:before, &:after {
				content: "";
				position: absolute;
				width: $radous * 2;
				height: $radous * 2;
				background: $section-bg;
				@include border-radius(50%);
				margin: 0 auto;
				left: 0;
				right: 0;
			}
			&:before {
			 	top: $radous * -1;
			}
			&:after {
			 	bottom: $radous * -1;
			}
			&:hover .info{
				top: 19.5em;
				.position {
					opacity: 1;
				}
			}
		}
		li{
			float: left;
			width: 25%;
			// @include box-sizing(border-box);
		}
		img{
			width: 22em;
			height: 22em;
			display: block;
		}
		.info{
			background: $red;
			padding: 2em 1em 0; // 2em + + 5 em  = 7em
			position: absolute;
			top: 22em + 4em;
			bottom: 4em;
			overflow: hidden;
			right: 0;
			@include transition(top .3s ease-in-out);
			left: 0;
		}
		.name{
			@extend %bpg_bc;
			font-size: 2em;
			//height: px2em(20px,20px); // 20 px + 10 px  = 30px // xazebs ertmanetze ajens es
			padding: 0 0 px2em(10px,20px);
		}
		.position{
			opacity: 0;
			font-size: 1.5em;
			line-height: px2em(20px,15px); // 20 px 
			height:px2em(20px,15px);
			@include transition(opacity .3s ease-in-out);
		}
		.name , .position{	 // 20px + 30px = 50px = 5em
			color: $white;
			text-align: center;
			display: block;
		}
	}
}

.programs{
	$section-bg: $gray;
	background: $section-bg;
  padding-bottom:5em;
	&:after{
		border-left: solid $section-bg 45em;
	}
	&:before{
		border-right: solid $section-bg 45em;
	}
  .day{
    font-size: 1.9em;
    padding-top:1em; 
  }
  p{
    margin-top: 0;
    margin-bottom: 0;
  }
}


.registerbox.teamform, .registerbox.gusetform {
    display: none;
    position: fixed;
    background: url(../images/close.png) rgba(0, 0, 0, 0.5) no-repeat;
    background-position: 2%;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    iframe{
        display: block;
        margin: 0 auto;
        height: 100%;  
    }
}

.sponsors{
	$section-bg: $gray;
	background: $section-bg; 
	position: relative;
	min-height:30em;
    padding: 20em 0 10em;
	h2{
		position: absolute;
		margin-top: 1em;
		font-size: 30px;
		width: 8em;
		text-align: center;
		left: 0;
		right: 0;
		top: 1em;
		margin:0 auto;
		color:$white;
		background:$red;
		padding:0.5em;
		@extend %bpg_bc;
		&:before,&:after{
			@include background(radial-gradient(9px 6px, circle cover, $section-bg 30%,transparent 30%) );
			background-size: 13px 12px;
			background-repeat: repeat-y;
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			width: 12px;
		}
		&:before{
			left: -8px;
		}
		&:after{
			right: -2px;
		}
	}
    .sponsors-list{
        list-style: none;
		padding:0;
		&:after {
			content: "";
			display: table;
			clear: both;
		} 
    }
    li{/*
        float: left;
        width: 33.33%;*/
        text-align: center;
        margin-bottom: 7em;
        a:hover img{
            @include filter(grayscale(0%));
        }
    }
    img{
        width: 20em;
        //-webkit-filter: grayscale(100%);
        @include filter(grayscale(100%));
		@include transition(all .3s ease-in-out);
    }

}

#map-canvas {
	height: 465px;
	width: 100%;
	margin-top: 6em;
	background-color: #ccc;
}