@font-face { font-family: "BPG ExtraSquare"; src: url('../../fonts/bpg_extrasquare_2009.eot'); src: url('../../fonts/bpg_extrasquare_2009.eot?#iefix') format('eot'), url('../../fonts/bpg_extrasquare_2009.ttf') format('truetype'), url('../../fonts/bpg_extrasquare_2009.svg#font') format('svg'), url('../../fonts/bpg_extrasquare_2009.woff') format('woff'); font-weight: normal; font-style: normal; }

.center {
	text-align: center;
}

.he-05 { height: 37px; }
.he-1 { height: 74px; }
.he-15 { height: 111px; }
.he-2 { height: 148px; }
.he-25 { height: 185px; }
.he-3 { height: 222px; }
.he-35 { height: 259px; }
.he-4 { height: 296px; }
.he-max { height: 333px; }
.time { font-size: 0.85em; }

.table {
	background-color: white;
}

.table h5 {
	font-weight: bold;
}

body {
	background-color: #f5f5f5;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'BPG ExtraSquare', Roboto, sans-serif;
}

body > h1 {
	background-color: #f80847;
	color: #fff;
	margin: 0 0 1em 0;
	padding: 0.4em 0;
	border-bottom: 6px solid #dedede;
}