nav {
	padding: px2em(45px)  0 px2em(42px);
	background: #FFF;
	border-bottom: solid darken($gray, 7%) px2em(3px);
	top:0;
	left: 0;
	right: 0;
	position: absolute; 
	@include transition(margin-top .3s ease-in);
	.fixed &{
		top: -140px;
		position: fixed;
		z-index: 1000;
		padding: px2em(15px)  0 px2em(12px);
		li a{
			padding: px2em(2px,18px) 0 0 px2em(22px,18px);
		}
	}
	.visable &{
		margin-top: 140px;
	}
	ul {
		list-style: none;
		padding:0;
		&:after {
			content: "";
			display: table;
			clear: both;
		} 

		li{
			float: left;
			width: 20%;
			@include box-sizing(border-box);
			@include background(linear-gradient(top,$red 20%, transparent 20%),linear-gradient(top,$red 20%, transparent 20%));
			background-repeat:repeat-y;
			background-size: 1px 5px;
			&:last-child{
			    background-position:left,right;
			}

			.active-sponsors & .sponsors-link,
			.active-programs & .programs-link,
			.active-speakers & .speakers-link,
			.active-features & .features-link,
			.active-home & .home-link,
			a:hover {
				color: $red;
			}
			a {
				font-size: px2em(18px);
				color: $black;
				display: block;
				padding: px2em(20px,18px) 0 0 px2em(22px,18px);
				text-decoration: none;
				line-height: px2em(24px,18px);
				@extend %bpg_bc;
				&.facebook{
					font-family: sans-serif;
				}
			}
		} 
	}
}